<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ajouter un commentaire</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<a href="/patient/list" class="btn btn-primary">return to patient list</a>
		<h1 class="text-center">Add comment</h1>

		<form id="commentForm">
			<div class="form-group">
				<label for="patient">Patient :</label>
				<input type="text" class="form-control" id="patient" name="patient" required />
			</div>

			<div class="form-group">
				<label for="note">Commentaire :</label>
				<textarea class="form-control" id="note" name="note" rows="5" required></textarea>
			</div>

			<button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>			
		</form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		function submitForm() {
			var formData = {
				patient: $("#patient").val(),
				note: $("#note").val()
			};

			console.log("FormData:", formData);

			$.ajax({
				type: "POST",
				contentType: "application/json",
				url: "/comment/add/data",
				data: JSON.stringify(formData),
				dataType: 'json',
				success: function (data) {
					console.log('Success:', data);
					alert("Comment added successfully!");
				},
				error: function (error) {
					console.error('Error:', error);
					alert("Failed to add comment. Please try again later.");
				}
			});
		}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>