<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Patient</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Add New Patient</h2>
    </div>    
    <div id="responseMessage" style="display: none;"></div>
    <form id="patientForm">
        <label for="firstname">Firstname :</label>
        <input type="text" id="firstname" name="firstname" required><br><br>
        <label for="lastname">Lastname :</label>
        <input type="text" id="lastname" name="lastname" required><br><br>
        <label for="birthDay">Date of birth :</label>
        <input type="date" id="birthDay" name="birthDay" required><br><br>
        <label for="gender">Gender :</label>
        <select id="gender" name="gender" required>
            <option value="M">Male</option>
            <option value="F">Feminine</option>
        </select><br><br>
        <label for="address">Address :</label>
        <textarea id="address" name="address" rows="4" cols="50" required></textarea><br><br>
        <label for="phoneNumber">Phone number :</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required><br><br>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Create</button>
        <a href="/patient/list" class="btn btn-primary">return to patient list</a>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function submitForm() {
        var formData = {
            firstname: $("input[name='firstname']").val(),
            lastname: $("input[name='lastname']").val(),
            birthDay: $("#birthDay").val(),
            gender: $("#gender").val(),
            address: $("#address").val(),
            phoneNumber: $("#phoneNumber").val()
        };

        console.log("FormData:", formData);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/patient/create",
            data: JSON.stringify(formData),
            dataType: 'json',
            success: function (data) {
                console.log('Success:', data);
                $("#responseMessage").removeClass("alert-danger").addClass("alert-success").text(data).show();
            },
            error: function (error) {
                console.error('Error:', error);
                $("#responseMessage").removeClass("alert-success").addClass("alert-danger").text(error.responseJSON.message).show();
            }
        });
    }
</script>
</body>
</html>
