<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Confirmation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<h2>Confirmation</h2>
		</div>
		<div class="row">
			<p>Your comment has been added successfully.</p>

		</div>
		<div class="row">
			<a href="/comment/add" class="btn btn-primary">Ajouter un autre commentaire</a>

			<a href="/comment/list" class="btn btn-primary">Voir la liste des commentaires</a>

		</div>
	</div>
</body>

</html>