<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Patient list</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">			
		</div>
		<div class="row">
			<h2>Patient List</h2>
		</div>
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th><a href="/patient/add" class="btn btn-success">Add new Patient</a></tr>
					</tr>
				</thead>
				<tbody>
					<tr th:each="patient : ${patients}">
						<td th:text="${patient.firstname}"></td>
						<td th:text="${patient.lastname}"></td>
						<td style="width: 15%" class="text-center">
							<a th:href="@{/patient/info/{firstname}/{lastname}(firstname=${patient.firstname}, lastname=${patient.lastname})}"
								class="btn btn-primary">Patient info</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>